<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    <script src="angular.min.js"></script>
    </head>
    <body ng-app="app">

	请输入一个数字亲：<input type="number" ng-model="num">
	<p>{{num|currency}}</p>
	

	<br><br><br>
	请输入一个英文字符串:<input type="text" ng-model="str">
	<p>这儿是截取的前3个:{{str|limitTo:3}}</p>
	<p>后三个字符{{str|limitTo:-3}}</p>
	<hr><hr>
	<br>
	<div ng-controller="myCtrl">
		{{d|date:"yyyy-MM-dd HH:mm:ss"}}

		<hr><hr>
		<br>
		<h3>创建一个对象数组(id name age)，filter后只显示名字中含有m的人
		按照 id name age 分别排序一次</h3>

	<p>{{stu|filter:{"name":"m"} }}</p>
	<p>以下是按照id name age分别排序一次</p>
	<p><span>id：</span>{{stu|orderBy:"id"}}</p>
	<p><span>name：</span>{{stu|orderBy:"name"}}</p>
	<p><span>age：</span>{{stu|orderBy:"age"}}</p>
	</div>


	<hr><hr>

		请输入一串英文字符串：<input type="text" ng-model="str1" placeholder="please input">
	<p>{{str1|reverse}}</p>
	<h4>下面一个是奇数位变大写</h4>
	<p>{{str1|oddstr}}</p>

<script type="text/javascript">
	var app = angular.module("app",[]);
	app.controller("myCtrl",function($scope){
		$scope.d = new Date("2017/7/3 17:12:23");
		$scope.stu = [{"id":10,"name":"Jack","age":18},{"id":5,"name":"alice","age":20},{"id":30,"name":"tom","age":22},{"id":28,"name":"JIm","age":16}];
	});
	//自定义字符串反转
	app.filter("reverse",function(){
		return function(msg){
			if(msg===undefined){
				return;
		}
		else{
			return msg.split("").reverse().join("");
		}
		}
	});
	//字符串奇数位变大写
	app.filter("oddstr",function(){
		return function(str){
			if(!str){return;}
			
			var arr = str.split("");
			for(var i=0;i<arr.length;i++){
				if(i%2==0){
					arr[i] = arr[i].toUpperCase();
				}
			}
			return arr.join("");
		}
	});
</script>
    </body>
</html>